body {
    margin: 0;
    padding: 0;
    background-image: url('Fondo_Menu.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 24px; /* Aumenta el tamaño de la fuente para mejor legibilidad en TV */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 2800px; /* Ajusta el ancho máximo según tu preferencia */
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajusta el tamaño mínimo de las imágenes */
    gap: 30px; /* Aumenta el espacio entre las imágenes */
    padding: 20px; /* Añade padding para separar del borde de la pantalla */
}

.image-container a {
    display: block;
    transition: transform 0.3s;
}

.image-container a:hover {
    transform: scale(1.1);
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

