body {
    margin: 0;
    padding: 0;
    background-image: url('Fondo_Menu.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 2800px; /* Ajusta el ancho máximo según tu preferencia */
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.image-container a {
    display: block;
    transition: transform 0.3s;
}

.image-container a:hover {
    transform: scale(1.1);
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
